.root {
  flex-grow: 1;
  padding: 32px;
}
.topCardItem {
  padding: 16px 20px;
  min-height: 185px;
  border-radius: 12px;
}
.assetName {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-transform: capitalize;
}
.itemDetails {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 35px;
}
.cardPrice {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}
.cardTrend {
  width: 20%;
  display: flex;
  align-items: center;
  padding: 2px;
  border-radius: 4px;
}
.trendUp {
  background-color: #a9ffa7;
  color: #037400;
}
.trendDown {
  background-color: #ffa7a7;
  color: #740000;
}
.areaChart {
  margin-bottom: 32px;
}
.lineChartBlock {
  padding: 16px 20px;
  min-height: 270px;
  border-radius: 12px;
}
