.root {
  box-shadow: none !important;
}
.toolbar {
  justify-content: space-between;
  padding: 25px 45px;
}
.menuIcon {
  margin-right: 20px;
  cursor: pointer;
}
.themeIcon {
  margin-right: 20px !important;
}
.iconBlock {
  padding-right: 35px;
  padding-top: 10px;
}
.searchInputBlock {
  display: flex;
  max-height: 45px;
  border-radius: 8px;
  margin-left: 28px;
}
.searchIcon:hover {
  background-color: transparent !important;
}
.searchInput {
  padding: 12px 18px;
}
.flexBetween {
  display: flex;
  justify-content: "space-between";
  align-items: "center";
}
