.root {
  box-shadow: none !important;
}
.toolbar {
  justify-content: space-between;
  padding: 25px 45px;
}
.menuIcon {
  margin-right: 20px;
  cursor: pointer;
}
.flexBetween {
  display: flex;
  justify-content: "space-between";
  align-items: "center";
}
