.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.root .form {
  width: 80%;
}
.root .form .incitingText {
  color: #1900d5;
  margin-left: 10px;
  cursor: pointer;
}
.root .form .incitingButton {
  background-color: #1900d5;
}
